body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
    color: #FF1493;
}
a.colorlink {
    text-decoration: none;
    color: #FF1493;
}
a.button {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1.5em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
}

ul.posts li {
    list-style: "disc";
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.15em;
    margin-bottom: 7px;
}

div.blurb {
    text-align: center;
}
div.button {
    text-align: center;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  align: center;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
}
