<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
							<li><a href="/services">Services</a></li>
							<li><a href="/faq">FAQ</a></li>
							<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->

			<footer>
				<h1>TEssay</h1>
				<a href="mailto:tessaypnf@outlook.com">tessaypnf@outlook.com</a>
				<br>
				<a href="/privacy">Privacy Policy</a>
				<br>
				<a href="/terms">Terms of Service</a>
			

			</footer>
		</body>
	</html>
